@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

.login {
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #e06522, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 30px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
  text-align: center;
  font-size: 2.3rem;

  @keyframes reveal {
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 1px #d57909;
    }
  }
}
.or {
  display: flex;
  flex-direction: row;
}
.or:before,
.or:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.or:before {
  margin-right: 10px;
}
.or:after {
  margin-left: 10px;
}
.backgroudShape {
  // border-radius: 2rem;
  // border: 3px solid rgba(240, 212, 185, 0.874);
  color: transparent;
  // background-color: rgba(243, 231, 220, 0.707);
  background-color: rgba(13, 21, 29, 0.874);
  border-bottom-left-radius: 90% 100%;
  border-top-left-radius: 90% 100%;
  transition: all 0.2s ease-in-out;
}
.white {
  color: #e0d7d7ea;
}
@media screen and (max-width: 786px) {
  .backgroudShape {
    border-radius: 0rem;
    transition: all 0.2s ease-in-out;
    background-color: rgba(243, 231, 220, 0.707);

    .font {
      color: black;
    }
  }
  .circle1 {
    position: absolute;
    z-index: -1;
    right: 50px;
    top: 50px;
    width: 5rem;
    height: 5rem;
  }
  // .backgroudShape {
  //   background-color: transparent;
  // }
  .loginDiv {
    padding: 0px !important;
  }
}

@media screen and (max-width: 990px) {
  .small-logo {
    display: block;
  }
  .logo-img {
    display: none;
  }
}
.logo-img {
  position: absolute;
}
.font {
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 990px) {
  .small-logo {
    display: none;
  }
}
.circle1 {
  position: absolute;
  z-index: -1;
  right: 100px;
  top: 100px;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #e06522;
  filter: blur(10px);
  animation: circle1 3000ms ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes circle1 {
  0% {
    top: 100px;
  }
  50% {
    top: 120px;
  }
  100% {
    top: 100px;
  }
}

.circle2 {
  position: absolute;
  z-index: -1;
  right: 400px;
  top: 500px;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #e06522;
  filter: blur(10px);
  animation: circle2 4000ms ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes circle2 {
  0% {
    top: 500px;
  }
  50% {
    top: 525px;
  }
  100% {
    top: 500px;
  }
}

.circle3 {
  position: absolute;
  z-index: -1;
  right: 500px;
  top: 230px;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: #e08e22;
  filter: blur(10px);
  animation: circle3 3500ms ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes circle3 {
  0% {
    top: 230px;
  }
  50% {
    top: 260px;
  }
  100% {
    top: 230px;
  }
}

.circle4 {
  position: absolute;
  z-index: -1;
  left: 300px;
  top: 50px;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: rgb(215, 108, 55);
  filter: blur(10px);
  animation: circle4 4000ms ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes circle4 {
  0% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
  100% {
    top: 50px;
  }
}
